#welcome-section {
  background: #202736;
  background: linear-gradient(to bottom, #181d23 0%, #202736 80%);
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  height: 100vh;
  margin: 0 auto;
  z-index: 1;
}

/* .silhouette {
  position: absolute;
  bottom: 50%;
  transform: translateY(50%);
  left: 0;
  background: url("../assets/heroImg.svg") bottom left no-repeat;
  width: 50%;
  height: 50%;
  opacity: 0;
  animation: silhouette-move-in 1000ms 800ms forwards;
} */

/* @keyframes silhouette-move-in {
  from {
    background-position-x: 0;
  }
  to {
    opacity: 1;
    background-position-x: 50%;
  }
} */

/* @keyframes moon-move-in {
  from {
    opacity: 0;
    background-position: right 150%;
  }
  to {
    opacity: 1;
    background-position: top right;
  }
} */

/* Copy and CTA */
#welcome-section .container {
  width: fit-content;
  position: absolute;
  top: 50%;
  right: 50%;
  opacity: 0;
  transform: translate(50%, -50%);
  animation: text-fade-in 1000ms 800ms forwards;
  /* @media screen and (max-width: 650px) {
    transform: translate(1000%, -50%);
  } */
}

@keyframes text-fade-in {
  from {
    right: 75%;
  }
  to {
    opacity: 1;
    right: 50%;
  }
}

#welcome-section .container h1 {
  font-size: 4rem;
  font-weight: normal;
  font-style: italic;
  color: #fafafa;
  line-height: 3rem;
}

#welcome-section .container h1 .line:first-child {
  margin-left: 1rem;
}

#welcome-section .container h1 .line:last-child {
  margin-left: 2rem;
}

#welcome-section .container .buttons {
  display: flex;
  margin-top: 1rem;
}

#welcome-section .container .buttons a,
#welcome-section .container .buttons a:visited {
  text-align: center;
}

#welcome-section .container .buttons a:hover,
#welcome-section .container .buttons a:active {
  /* border: 1px solid #4d7d99; */
  /* transform: translateY(-2px); */
  box-shadow: 0 10px 100px -20px #4d7d99;
}

#welcome-section .container .buttons a.cta,
#welcome-section .container .buttons a.cta:visited {
  background: #4d7d99;
  border: 1px solid transparent;
  color: black;
  font-weight: bold;
}

#welcome-section .container .buttons a.cta:hover,
#welcome-section .container .buttons a.cta:active {
  background: transparent;
  border: 1px solid #4d7d99;
}

#welcome-section .container .buttons a:first-child {
  margin-right: 1rem;
}

.line {
  display: block;
}

.color {
  color: #4d7d99;
  font-style: italic;
}

@media only screen and (max-width: 649px) {
  #welcome-section .container {
    right: 50%;
    top: 50%;
    width: 70%;
    transform: translate(50%, -50%);
    animation: text-fade-in 1000ms 800ms forwards;
  }

  @keyframes text-fade-in {
    from {
      right: 0;
    }
    to {
      opacity: 1;
      right: 50%;
    }
  }
}

.parralaxTextArea {
  width: 80%;
  font-size: 1.4rem;
}

@media only screen and (max-width: 649px) {
  .parralaxTextArea {
    font-size: 1rem;
    width: 97vw;

    padding: 0;
  }
}
